<div class="row">
  <div class="col-12">
    <form class="mt-4" [formGroup]="formulario" (submit)="guardarEquipo()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" type="text" formControlName="nombre">
      </div>
      <div class="form-group">
        <label for="ciudad">Ciudad:</label>
        <input class="form-control" type="text" formControlName="ciudad">
      </div>
      <div class="form-group">
        <label for="socios">Socios:</label>
        <input class="form-control" type="number" formControlName="socios">
      </div>
      <div class="form-group">
        <label for="fundacion">Año de Fundación:</label>
        <input class="form-control" type="number" formControlName="fundacion">
      </div>
      <div class="form-group">
        <label for="escudo">Escudo:</label>
        <input class="form-control" type="text" formControlName="escudo">
      </div>
      <div *ngIf="this.formulario.get('escudo').touched">
        <img [src]="this.formulario.get('escudo').value" [title]="this.formulario.get('nombre').value" [alt]="this.formulario.get('nombre').value">
      </div>
      <button class="btn btn-primary" type="submit">Guardar</button>
    </form>
  </div>
</div>
<div class="row">
  <app-lista-equipos class="col-6" [equipos]="equipos" (emitter)="mostrarEquipo($event)"></app-lista-equipos>

  <div class="jumbotron col-6" *ngIf="equipoSeleccionado">
    <p>
      <img [src]="equipoSeleccionado.escudo" [title]="equipoSeleccionado.nombre" [alt]="equipoSeleccionado.nombre">
    </p>
    <p>
      {{equipoSeleccionado.nombre}}
    </p>
    <p>
      {{equipoSeleccionado.ciudad}}
    </p>
    <p>
      {{equipoSeleccionado.fundacion}}
    </p>
    <p>
      {{equipoSeleccionado.socios}}
    </p>
  </div>
</div>