<div class="row">
  <div class="col-12">
    <div>Nombre: <input type="text" [(ngModel)]="nuevoEquipo.nombre"></div>
    <div>Ciudad: <input type="text" [(ngModel)]="nuevoEquipo.ciudad"></div>
    <div>Socios: <input type="number" [(ngModel)]="nuevoEquipo.socios"></div>
    <div>Año de Fundación: <input type="number" [(ngModel)]="nuevoEquipo.fundacion"></div>
    <div>Escudo: <input type="text" [(ngModel)]="nuevoEquipo.escudo"></div>
    <div>
      <img [src]="nuevoEquipo.escudo" [title]="nuevoEquipo.nombre" [alt]="nuevoEquipo.nombre">
    </div>
    <button class="btn btn-primary" (click)="guardarEquipo()">Guardar</button>
  </div>
</div>
<div class="row">
  <app-lista-equipos class="col-6" [equipos]="equipos" (emitter)="mostrarEquipo($event)"></app-lista-equipos>

  <div class="jumbotron col-6" *ngIf="equipoSeleccionado">
    <p>
      <img [src]="equipoSeleccionado.escudo" [title]="equipoSeleccionado.nombre" [alt]="equipoSeleccionado.nombre">
    </p>
    <p>
      {{equipoSeleccionado.nombre}}
    </p>
    <p>
      {{equipoSeleccionado.ciudad}}
    </p>
    <p>
      {{equipoSeleccionado.fundacion}}
    </p>
    <p>
      {{equipoSeleccionado.socios}}
    </p>
  </div>
</div>