<div class="container-fluid">
  <div class="jumbotron mt-3">
      <h3>Paso 1: Instalar Visual Code Studio</h3>
      <p class="lead">EL IDE que personalmente recominedo para el desarrollo de aplicaciones Angular es Visual Studio Code</p>
      <a class="btn btn-lg btn-primary" href="https://code.visualstudio.com/" target="_blank" role="button">Descargar &raquo;</a>
  </div>
  <div class="jumbotron mt-3">
    <h3>Paso 2: Instalar Node.js</h3>
    <p class="lead">Tenemos que instalar Node.js</p>
    <a class="btn btn-lg btn-primary" href="https://nodejs.org/es/" target="_blank" role="button">Descargar &raquo;</a>
  </div>
  <div class="jumbotron mt-3">
    <h3>Paso 3: Instalar Angular-CLI</h3>
    <p class="lead">
      Utilizando el NPM que hemos instalado en el paso anterior, ejecutamos en consola el siguiente comando:
    </p>
    <ul>
      <li><code>npm install -g @angular/cli</code></li>
    </ul>
  </div>
  <div class="jumbotron mt-3">
    <h3>Paso 4: Crear primera aplicación con <strong>Angular-CLI</strong></h3>
    <p class="lead">Para crear y arrancar nuestra primera App utilizando angular-cli debemos escribir los siguientes comandos:</p>
    <ul>
      <li><code>ng new miApp</code></li>
      <li><code>cd miApp</code></li>
      <li><code>ng serve</code></li>
    </ul>
  </div>
</div>
