<div class="container-fluid">
  <div class="jumbotron mt-3">
    <h3>Arquitectura</h3>
    <div>
      <ul>
        <li><span class="text-primary font-weight-bold">Modulos:</span> Sirven para organizar y modularizar los proyectos. </li>
        <li>
            <span class="text-primary font-weight-bold">Componentes:</span> Encargados de renderizar las pantallas.
          <ul>
            <li>Templates</li>
            <li>Directivas</li>
            <li>Data Binding</li>
          </ul>
        </li>
        <li><span class="text-primary font-weight-bold">Servicios:</span> Lógica de negocio en nuestra app.</li>
        <li><span class="text-primary font-weight-bold">Routing:</span> Enrutamiento.</li>
      </ul>
    </div>
    <div>
        <img class="img-fluid rounded mx-auto d-block" src="../../assets/relacion.png" />
    </div>
  </div>
    
</div>